.Game__Info {
	display: flex;
	justify-content: space-between;
	padding-block: 0.7rem;
	padding-inline: 1rem 0.7rem;
	border: 3px solid hsl(217, 16%, 45%);
	border-radius: 5px;
	align-items: center;

	@media (min-width: 720px) {
		margin-inline: 4rem;
	}

	.Game__Logo {
		display: grid;
		img {
			width: min(22vw, 120px);
		}
	}
}

.Game__Score {
	text-align: center;
	padding-block: 0.5rem;
	padding-inline: 1.4rem;
	background-color: white;
	border-radius: 4px;

	@media (max-width: 281px) {
		padding-block: 0.2rem;
		padding-inline: 0.7rem;
	}

	@media (min-width: 720px) {
		padding-block: 0.5rem;
		padding-inline: 2rem;
		border-radius: 7px;
	}

	:first-child {
		font-size: 0.7rem;
		color: hsl(230, 89%, 62%);
		font-weight: 700;
		letter-spacing: 1px;
	}

	:last-child {
		font-size: 2.5rem;
		font-weight: 700;

		@media (max-width: 281px) {
			font-size: 1.5rem;
		}
	}
}
