.Game__Body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	justify-content: center;
	background-image: url('../../assets/images/bg-triangle.svg');
	background-repeat: no-repeat;
	background-size: 60% 50%;
	background-position: center;
}

.ThirdIcon {
	grid-area: 2 / 1 / span 2 / span 2;
	justify-self: center;
}

.Icon {
	border: 10px solid pink;
	border-radius: 50%;
	padding: 1.6rem;
	display: grid;
	place-items: center center;
}
