.room-container {
	width: min(80%, 420px);
	display: flex;
	flex-direction: column;
	gap: 4rem;
	margin-block: 10rem;

	form {
		input {
			width: 100%;
			font-size: 1.1rem;
			color: hsl(217, 72%, 86%);
			font-weight: 700;
			letter-spacing: 2px;
			text-transform: uppercase;
			background-color: transparent;
			outline: 3px solid transparent;
			border: 2px solid white;
			border-radius: 5px;
			padding: 0.8rem;
			margin-block-end: 1rem;
		}

		button {
			width: 100%;
		}
	}

	p {
		font-size: 1rem;
		color: hsl(217, 72%, 86%);
		letter-spacing: 1.5px;
		text-transform: uppercase;
		text-align: center;
	}
}
