.Rules__Image {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-self: normal;
	background-color: white;
	min-height: 100vh;

	p {
		font-size: 2rem;
		font-weight: 700;
		color: hsl(229, 25%, 31%);
		padding-block-start: 2rem;
	}
}
