.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

span {
	display: block;
	text-transform: uppercase;
}

.Game__Container {
	width: min(100%, 560px);
	display: grid;
	gap: 5rem;
	padding: 2rem;
}
