@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: 600;
	color: hsl(217, 16%, 45%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
